version: '3.7'
services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    deploy:
      placement:
        constraints:
          - node.role == manager
    ports:
      - 9090:9090
    volumes:
      - ./prometheus/:/etc/prometheus/
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    depends_on:
      - cadvisor

  cadvisor:
    image: google/cadvisor
    container_name: cadvisor
    ports:
     - 8080:8080
    volumes:
     - /:/rootfs:ro
     - /var/run:/var/run:rw
     - /sys:/sys:ro
     - /var/lib/docker/:/var/lib/docker:ro
    deploy:
      mode: global

  node-exporter:
    image: prom/node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command: 
      - '--path.procfs=/host/proc' 
      - '--path.sysfs=/host/sys'
      - --collector.filesystem.ignored-mount-points
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    ports:
      - 9100:9100    
    deploy:
      mode: global

  grafana:    
    image: grafana/grafana        
    depends_on:
      - prometheus
    ports:
      - 3000:3000
    volumes:
#      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./grafana/config.monitoring

  nginx:
    image: nginx
    volumes:
     - ./mysite.template:/etc/nginx/conf.d/mysite.template
    ports:
     - "8081:80"
    depends_on:
      - grafana   
    command: /bin/bash -c "envsubst < /etc/nginx/conf.d/mysite.template > /etc/nginx/conf.d/default.conf && exec nginx -g 'daemon off;'"
   
  elasticsearch:
    image: elasticsearch:7.6.1
    environment:
      ES_JAVA_OPTS: "-Xmx256m -Xms256m"
      ELASTIC_PASSWORD: changeme
      # Use single node discovery in order to disable production mode and avoid bootstrap checks
      # see https://www.elastic.co/guide/en/elasticsearch/reference/current/bootstrap-checks.html
      discovery.type: single-node
#    restart: always    
    ports:
      - 9200:9200
#    volumes:
#      - ./elasticsearch/data:/usr/share/elasticsearch/data

  logstash:
    image: logstash:7.6.1
    container_name: logstash
    environment:
      LS_JAVA_OPTS: "-Xmx256m -Xms256m"   
    ports:
      - 5044:5044
    volumes:
      - ./logstash/logstash.yml:/usr/share/logstash/config/logstash.yml:ro
      - ./logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro
#    links:
#      - elasticsearch

  kibana:
    image: kibana:7.6.1
    container_name: kibana
#    restart: always   
    ports:
      - 5601:5601
    volumes:
      - ./kibana/kibana.yml:/usr/share/kibana/config/kibana.yml
#    links:
#      - elasticsearch      