global:
  scrape_interval:     15s

 
  external_labels:
    monitor: 'codelab-monitor'


scrape_configs:  
  - job_name: 'prometheus-ekeke'    
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'nodes'    
    scrape_interval: 5s
    static_configs:
      - targets: ['192.168.17.100:9100', '192.168.17.101:9100', '192.168.17.102:9100']
  - job_name: 'cadvisors'    
    scrape_interval: 5s
    static_configs:
      - targets: ['192.168.17.100:8080', '192.168.17.101:8080', '192.168.17.102:8080']